@import
url('https://fonts.googleapis.com/css?family=Russo+One');
$redStyle: #db0000;
$blackStyle: #000000;
$shadow: 1px 1px 10px 2px
darken($blackStyle, 20%);
$default-border:1px solid
darken($blackStyle,35%);

#root{
    width: 100%;
}

body{
    /*background: lighten($blackStyle, 0%);*/
    background: url(../images/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 10px 0;
}

::-webkit-scrollbar-corner{
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    background: rgb(44, 43, 43);
}

::-webkit-scrollbar-thumb{
    background: rgb(153, 2, 2);
    border-radius: 20px;
    width: 10px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background: red;
    border-radius: 20px;
    width: 10px;
}

#preview, .title{
    display: inline-block;
}

.colorScheme{
    background-color: lighten($blackStyle, 10%);
    border: $default-border;
    border-radius: 10px;
    border-top: none;
    box-shadow: $shadow;
    color:rgba(255, 255, 255, 0.877);
}

.toolbar{
    position: relative;
    background: rgb(210,0,0);
    background: linear-gradient(90deg, rgba(210,0,0,1) 0%, rgba(210,0,0,1) 50%, rgba(252,176,69,1) 100%);
    padding: 4px 4px 3px 3px;
    border: $default-border;
    border-radius: 10px;
    box-shadow: $shadow;
    font-family: Russo One;
    font-size: 15px;
    cursor: pointer;

    i{
        width: 25px;
        color:black;
        margin-left: 5px;
    }

    .fa-expand,
    .fa-compress{
        position: absolute;
        right: -5px;
        font-size: 22px;
        margin-right: 5px;
    }
}

.fa-retweet,
.fa-compress,
.fa-expand{
    &:hover{
        color: lighten($redStyle, 30%);
        cursor:pointer;
        font-size: 22px;
        margin-right: 5px;
    }
}

.fa-file-code{
    margin-right: 3px;
    font-size: 22px;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto;
}

.editorWrap{
    position: fixed;
    width: 400px;
    min-width: 200px;
    margin:  30px;
    z-index: 1;

    .toolbar{
        width: 99%;
    }

    textarea{
        @extend .colorScheme;
        width:99%;
        height: 500px;
        min-height: 200px;
        margin-bottom: -5px;
        padding-left: 5px;
        padding-top: 5px;
        resize: vertical;
        outline: none;
        font-size: 15px;
    }
}

.previewWrap {
    @extend .colorScheme;
    width: 800px;
    min-height: 200px;
    margin-left: 450px;
    margin-top: 30px;
    
    .toolbar {
      width: 100%;
      padding-right: 17px;
      border-right: 0px;
      border-left: 0px;
    }

    #preview {
      margin-left: 5px;
      margin-top: -10px;
      width: 100%;
    }
}

.maximized{
    width: 96%;
    min-height: 100vh;
    margin: 10px auto;

    textarea{
        min-height: 90vh;
        resize: none;
    }
}

.maximized1{
    width: 96%;
    min-height: 100vh;
    margin: 20px auto !important;
    padding-top: 0px;

    textarea{
        min-height: 95vh;
        resize: none;
    }

    img{
        width: 350px;
        margin-left: 10px;
    }
}

.hide {
    display: none;
}

#preview{
    blockquote{
        border-left: 3px solid #a3c705;
        color: #fc7a00;
        padding-left: 5px;
        margin-left: 25px;
    }

    code{
        background: rgb(134, 131, 131);
        padding: 1px 4px 2px 4px;
        font-size: 15px;
    }

    pre{
        background: rgb(134, 131, 131);
        padding: 5px 0 5px 5px;
        margin-right: 10px;
    }

    h1{
        border-bottom: 2px solid $redStyle;
        width: 99%;
    }

    h2{
        border-bottom: 1px solid $redStyle;
        width: 99%;
    }

    table{
        border-collapse: collapse;
    }

    td,th{
        border: 2px solid $redStyle;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 1300px) {
    #container{
        margin-right: auto;
        margin-left: auto;
    }

    .previewWrap{
        margin-top: 290px;
        margin-right: auto;
        margin-left: 5px;
    }

    .editorWrap{
        margin: 10px auto;
        border-bottom: 2px solid white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
            
        textarea{
            height: 200px;
        }
    }   
}

@media screen and (max-with: 850px){
    .previewWrap{
        width: 630px;
        display: block;
    }

    .editorWrap{
        width: 550px;
        display: block;
    }
}

@media screen and (max-width: 500px) {

    .editorWrap{
        width: 95%;
        box-sizing: content-box;
        margin-left: 10px;
        margin-right: 10px;
    }
  
    .previewWrap{
        width: 90%;
        margin-top: 290px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2px;
        padding-right: 2px;
        box-sizing: content-box;
        overflow: hidden;
    }

    .converter{
        margin: 0;
        width: 0px;
    }

    img{
        width: 95%;
        margin: auto;
    }
   
    ::-webkit-scrollbar{
        width: 17px;
    }

    table{
        border-collapse: separate;
    }

    td,th{
        border: 1px solid $redStyle !important;
        padding-left: 3px !important;
        padding-right: 1px !important;
    }
}

